.carousel{
    border-top: 8px $primaryOrange solid;
    border-bottom: 8px $primaryOrange solid;
}
.category-list{
    display: flex;
    flex-direction: column;
    border-bottom: 2px $primaryOrange solid;
    position: relative;
    li{
        height: 60px;
        border: 2px $primaryOrange solid;
        border-bottom: 1px;
        span{
            margin-left: 4px;
            pointer-events: none;
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: $font-l;
        font-weight: bold;
        transition: all .1s ease;
    }
    a:hover{
        background-color: $lightOrange;
        font-size: calc($font-l + 2px);
    }
    .title{
        background-color: $primaryOrange;
        color: $lightOrange;
        pointer-events: none;
    }
    &::after{
        content: '';
        cursor: pointer;
        width: 80%;
        height: 55%;
        position: absolute;
        top: 100%;
        left: 15%;
        transform-origin: top;
        background: url(../pic/icon/cat-category.png);
        background-repeat: no-repeat;
        animation-name: catmotion;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    &::before{
        content: '';
        height: 100%;
        width: 75%;
        position: absolute;
        top: 75%;
        left: -45px;
        transform-origin: center;
        transform: scale(.4);
        background: url(../pic/icon/tap.png);
        background-repeat: no-repeat;
        animation-name: tapmotion;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .hide-item{
        height: 0px;
        overflow: hidden;
        transform-origin: top;
        transition: all .2s ease;
    }
    #open-item{
        height: 60px;
    }

}
@keyframes catmotion {
    0%  {transform: matrix( 1, 0, 0, 1, 0, 1.5 );}
    25%  {transform: matrix( 1, 0, .1, 1.1, 5, 1.5 );}
    50%  {transform: matrix( 1, 0, 0, 1, .9, 1.5 );}
    75%  {transform: matrix( 1, 0, -.1, 1.1, -5, 1.5 );}
    100%  {transform: matrix( 1, 0, 0, 1, 0, 1.5 );}
}
@keyframes tapmotion {
    0%  {transform: matrix( .3, 0, 0, .3, 0, 0 );opacity: 0;}
    5%  {opacity: 1;}
    10%  {opacity: 0;}
    15%  {opacity: 1;}
    20%  {transform: matrix( .4, 0, 0, .4, 0, 0 );}
    25%  {transform: matrix( .4, -.1, .1, .4, 0, 0 );}
    30%  {transform: matrix( .4, 0, 0, .4, 0, 0 ); opacity: 1;}
    45%  {transform: matrix( .3, 0, 0, .3, 0, 0 ); opacity: 0;}
    100%  {transform: matrix( .3, 0, 0, .3, 0, 0 );opacity: 0;}
}
.product{
    &-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    &-item{
        width: 30%;
        margin: 0 0 16px 8px;
        position: relative;
    }
    .onsale{
        position: absolute;
        top: 5%;
        left: -4px;
        padding: 8px 16px;
        color: $lightOrange;
        font-weight: bold;
        background: $primaryOrange;
        border-radius: 0 20px 20px 0;
        border: 3px $lightOrange solid;
        border-left:0;
        pointer-events: none;
    }
    .faver{
        position: absolute;
        top: 38px;
        right: 38px;
        transform: translate(50%, -50%);
        transition: all .2s ease;
        cursor: pointer;
        &:hover{
            top: 35px;
        }
    }
    #faver-select{
        background-image: url("../pic/icon/isfaver_big.png");
        background-repeat: no-repeat;
    }
    &-pic{
        width: 100%;
        border: 3px $primaryOrange solid;
    }
    .name, .price, .cartbtn{
        padding: 16px 0;
        color: $primaryOrange;
        font-size: $font-m;
        font-weight: bold;
        text-align: center;
        border: 2px $primaryOrange solid;
        border-top: none;
    }
    .price{
        cursor: default;
    }
    &-info{
        display: flex;
        flex-wrap: wrap;
        .name{
            width: 55%;
            border-right: 0;
        }
        .price{
            width: 45%;
        }
    }
    .cartbtn{
        width: 100%;
        color: $lightOrange;
        background: $primaryOrange;
        transition: all .2s ease;
        &:hover{
            transform: scale(1.05);
        }
        span{
            font-size: 18px;
            margin-left: 12px;
            transform: rotate(-24deg);
            pointer-events: none;
        }
    }
    #cart-select{
        border-color: $secondary;
        background: $secondary;
        &:hover{
            border-color: $secondary;
        }
    }

    .pagebtns{
        display: flex;
        justify-content: end;
        border-right: 2px $lightOrange solid;
        li{
            width: 60px;
            height: 60px;
            font-size: $font-m;
            font-weight: bold;
            border: 2px $lightOrange solid;
            border-right: none;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: all .2s ease;
            &:hover{
                color: $lightOrange;
                background: $primaryOrange;
            }
        }
        .active{
            color: $lightOrange;
            background: $primaryOrange;
            pointer-events: none;
        }
        i{
            pointer-events: none;
        }
    }
}


@media (max-width: 1200px) {
    .category-list{
        &::after{
            transform: scale(.7);
            animation-name: catmotion-s;
        }
    }
}
@keyframes catmotion-s {
    0%  {transform: matrix( .7, 0, 0, .7, 0, 1.5 );}
    25%  {transform: matrix( .7, 0, .1, .7, 5, 1.5 );}
    50%  {transform: matrix( .7, 0, 0, .7, .9, 1.5 );}
    75%  {transform: matrix( .7, 0, -.1, .7, -5, 1.5 );}
    100%  {transform: matrix( .7, 0, 0, .7, 0, 1.5 );}
}

@media (max-width: 992px) {
    .category-list{
        flex-direction: row;
        flex-wrap: wrap;
        border-left: 3px $primaryOrange solid;
        li{
            width: 50%;
            height: 50px;
            border-left: 1px;
        }
        .list-title{
            width: 100%;
            height: 30px;

        }
        &::after{
            display: none;
        }
        &::before{
            display: none;
        }
        .hide-item{
            height: 60px;
        }
    }
    .product{
        &-item{
            margin-left: 0;
        }
    }
}
@media (max-width: 768px) {
    .product{
        &-item{
            width: 49%;
        }
    }
}
@media (max-width: 576px) {
    .banner{
        display: none;
    }
    .category-list{
        a{
            font-size: $font-m;
            &:hover{
                font-size: $font-l;
            }
        }
    }
    .product{
        .onsale{
            left: 0;
        }
    }
}
@media (max-width: 425px) {
    .category-list{
        a{
            font-size: $font-s;
            &:hover{
                font-size: $font-m;
            }
        }
    }
    .product{
        .onsale{
            top:0;
            width: 100%;
            border: none;
            border-radius: 0;
            text-align: center;
            padding: 2px 0;
        }
        .faver{
            top: 50px;
            right: 30px;
            &:hover{
                top: 45px;
            }
        }
        .faver-nosale{
            top: 30px;
            &:hover{
                top: 25px;
            }
        }
        .name, .price{
            padding: 8px 0;
            font-size: $font-s;
        }
    }
}