body{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: $lightBg;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    display: block;
}
// 修改input預設顯示文字顏色
body{
    ::placeholder { /* CSS 3 標準 */
        color: $grey;
    }
    ::-webkit-input-placeholder { /* Chrome, Safari */
        color: $grey;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $grey;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $grey;
        opacity: 1;
    }
    transition: all .5s ease;
}
.navbar{
    .hambtn{
        color: $primaryOrange;
        font-size: $font-xl;
    }
    .m-logo{
        text-align: center;
    }
    .logo img, .m-logo img{
        height: 50px;
    }
    .m-cart{
        text-align: end;
    }
    .m-cart span, .navbar-item{
        color: $primaryOrange;
        font-size: $font-s;
        font-weight: bold;
        position: relative;
    }
    .active::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: -4px;
        left: 0;
        background: $primaryOrange;
    }
    .navbar-item a:hover::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: -4px;
        left: 0;
        background: $primaryOrange;
    }
    .darkbtn{
        cursor: pointer;
        width: 24px;
        font-size: $font-l;
        a{
            top: 1px;
            position: absolute;
        }
    }
}
.navbar-nav{
    display: flex;
    transition: all .2s ease;
}
.totop{
    position: fixed;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: $lightOrange;
    background-color: $primaryOrange;
    right: 2%;
    bottom: 4%;
    padding-bottom: 5px;
    transition: all 0.2s ease;
    transform: translateX(100px);
    box-shadow: 0 0 5px black;
    z-index: 2;
    i, span{
        height: 20px;
        pointer-events: none;
    }
    &:hover{
        color: $lightOrange;
        background: $secondary;
    }
}

.contactbar{
    padding: 30px;
    background-color: $primaryOrange;
    .link{
        display: flex;
        align-items: center;
        img{
            width: 40px;
            margin-right: 16px;
            cursor: pointer;
            transition: all .2s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .title{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        font-size: $font-l;
        color: $lightOrange;
        font-weight: bold;
        cursor: default;
        span{
            width: 100%;
            font-size: $font-s;
            text-align: end;
        }
    }
    .mailbar{
        display: flex;
        height: 60px;
        background: $lightOrange;
        position: relative;
        .mailIcon{
            display: flex;
            // justify-content: center;
            align-items: center;
            width: 42px;
            font-size: $font-xl;
            color: $primaryOrange;
        }
        .email{
            padding: 8px;
            width: calc( 100% - 90px);
            color: $primaryOrange;
            font-weight: bold;
            font-size: $font-m;
            background-color: transparent;
            border: 0;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            height: 100%;
            width: 60px;
            font-size: $font-xl;
            background-color: $secondary;
            border-right: 20px;
            color: $lightOrange;
            transition: all .2s ease;
        }
        a:hover{
            transform: scale(1.1);
            color: $lightOrange;
        }
        .submit i{
            pointer-events: none;
        }
    }
}
.footer{
    background: $lightOrange;
    .companybar{
        justify-content: space-between;
        align-items: center;
        color: $primaryOrange;
        font-weight: bold;
    }
    img{
        // margin-top: 30px;
        height: 50px;
    }
    .company-info{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p{
        text-align: end;
        margin-bottom: 0;
    }
}



@media (max-width: 768px) {
    .navbar{
        .active::after{
            bottom: 0px;
        }
    }
    .navbar-nav{
        // display: none;
        margin-top: 0;
        height: 0;
        overflow: hidden;
    }
    .nav-toggle{
        display: flex;
        height: 30px;
        margin-top: 12px;
    }
    .mailbar{
        margin-top: 16px;
    }
    .companybar{
        img{
            margin-top: 30px;
        }
        p{
            text-align: start;
        }
    }
}

@media (max-width: 576px) {
    .contactbar{
        .title{
            justify-content: center;
            span{
                width: auto;
            }
        }
    }
    .navbar{
        .m-logo img{
            height: 35px;
        }
    }
}
.dark-mode{
    background: $darkBg !important; 
}