.pro-info-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
}
.pro-info{
    display: flex;
    flex-wrap: wrap;
    color: $primaryOrange;
    .title{
        width: 100%;
        font-size: $font-xl;
        font-weight: bold;
        margin-right: 28px;
    }
    .pro-num{
        display: flex;
        align-items: end;
        padding-left: 4px;
        color: $darkOrange;
        div{
            margin-right: 16px;
        }
    }
    .pro-price{
        width: 100%;
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: bold;
        .price-org{
            font-size: $font-m;
            margin-right: 16px;
            color: $grey;
            text-decoration: line-through;
        }
        .price-sale{
            font-size: $font-l;
            margin-right: 16px;
        }
        .price-salenum{
            font-size: $font-s;
            background-color: $secondary;
            color: $lightBg;
            margin-left: 24px;
            padding: 0 8px;
            position: relative;
            &::after{
                content: '';
                border: 12px $secondary solid;
                border-left-color: transparent;
                position: absolute;
                left: -12px;
                z-index: -2;
            }
            &::before{
                content: '';
                border: 12px transparent solid;
                border-left-color: $secondary;
                position: absolute;
                right: -24px;
                z-index: -2;
            }
        }
    }
    .cart-way{
        width: 100%;
        margin-top: 30px;
        .message{
            margin-bottom: 16px;
        }
        select{
            width: 80px;
            background-color: $lightBg;
            border: 2px $primaryOrange solid;
            cursor: pointer;

        }
    }
}
.cart-countbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $primaryOrange;
    .stock{
        width: 100%;
        margin-top: 8px;
    }
}
.cart-count-item{
    display: flex;
    border-right: 2px $primaryOrange solid;
    width: 146px;
    margin-bottom: 0;
    li{
        height: 48px;
        width: 48px;
        border: 2px $primaryOrange solid;
        border-right: 0;
        a{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a:hover{
            background-color: $lightOrange;
        }
    }
}
.pro-cart-btn, .pro-faver-btn{
    font-size: $font-l;
    font-weight: bold;
    width: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background-color: $primaryOrange;
    color: $lightBg;
    transition: all .2s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
    }
}
.pro-faver-btn{
    width: 68px ;
    background-color: rgb(255, 178, 178);
    margin-left: 16px;
}





@media (max-width: 1200px) {
    .pro-info{
        .title{
            width: auto;
        }
        .pro-num{
            padding-bottom: 4px;
        }
    }
}
@media (max-width: 992px) {
    .pro-info{
        .pro-price{
            padding-top: 8px;
        }
        .cart-way{
            margin-top: 8px;
        }
    }
    .cart-countbar{
        margin: 16px 0;
        .stock{
            width: auto;
            margin-left: 16px;
        }
    }
}
@media (max-width: 767px) {
    .pro-info-block{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pro-pic{
        height: 300px;
        overflow: hidden;
        box-shadow: 0,0,10px $primaryOrange;
        img{
            margin-top: -100px;
        }
    }
    .pro-info{
        .pro-num{
            margin-bottom: 0;
        }
    }
    .pro-btns{
        width: 100%;
        justify-content: end;
    }
}
@media (max-width: 576px) {
    .pro-pic{
        height: 250px;
    }
}