/*color*/
$primaryOrange: #dc8605;
$lightOrange: #ffe8c5;
$darkOrange: #734808;
$secondary: #d02121;
$grey: #b6ad9d;
$lightBg: #fffbed;      //#3e1b01;
// $white: white;
// $black: black;
// $dark: rgb(48, 48, 48);
/*font-size*/
$font-s: 1rem; /*16px*/
$font-m: 1.25rem; /*20px*/
$font-l: 1.5rem; /*24px*/
$font-xl: 2rem; /*32px*/
$font-xxl: 2.25rem; /*36px*/