@charset "UTF-8";
@import "bootstrap/bootstrap.css"; /*color*/
/*font-size*/
/*16px*/
/*20px*/
/*24px*/
/*32px*/
/*36px*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fffbed;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: block;
}

body ::-moz-placeholder { /* CSS 3 標準 */
  color: #b6ad9d;
}

body ::placeholder { /* CSS 3 標準 */
  color: #b6ad9d;
}
body ::-webkit-input-placeholder { /* Chrome, Safari */
  color: #b6ad9d;
}
body :-ms-input-placeholder { /* IE 10+ */
  color: #b6ad9d;
}
body ::-moz-placeholder { /* Firefox 19+ */
  color: #b6ad9d;
  opacity: 1;
}

.cat-meow {
  content: "";
  width: 378px;
  height: 174px;
  background-image: url(../pic/icon/cat-darkmode.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 200px);
  transform-origin: bottom;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.cat-meow span {
  content: "";
  width: 378px;
  height: 174px;
  background-image: url(../pic/icon/cat-meow.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 200px);
  transform-origin: bottom;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes cat-darkmode {
  0% {
    transform: matrix(0.866, 0.5, -0.5, 0.866, -189, 200);
  }
  25% {
    transform: matrix(1, 0, 0, 1, -189, 10);
  }
  50% {
    transform: matrix(1, 0, 0, 1, -189, 0);
  }
  75% {
    transform: matrix(1, 0, 0, 1, -189, 5);
  }
  100% {
    transform: matrix(0.866, 0.5, -0.5, 0.866, -189, 200);
  }
}
@keyframes cat-meow {
  0% {
    transform: matrix(1, 0, 0, 1, -189, 20);
    opacity: 0;
    display: flex;
  }
  20% {
    transform: matrix(1, 0, 0, 1, -189, 20);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    transform: matrix(1, 0, 0, 1, -150, 5);
    opacity: 1;
  }
  80% {
    transform: matrix(1, 0, 0, 1, -150, 20);
    opacity: 0;
  }
  100% {
    transform: matrix(1, 0, 0, 1, -150, 20);
    opacity: 0;
    display: block;
  }
}
.navbar .hambtn {
  color: #dc8605;
  font-size: 2rem;
}
.navbar .m-logo {
  text-align: center;
}
.navbar .logo img, .navbar .m-logo img {
  height: 50px;
}
.navbar .m-cart {
  text-align: end;
}
.navbar .m-cart span, .navbar .navbar-item {
  color: #dc8605;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}
.navbar .navbar-item a::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  bottom: -4px;
  left: 0;
  border-radius: 4px;
  background: #dc8605;
  transition: all 0.2s ease;
  pointer-events: none;
}
.navbar .navbar-item a:hover::after {
  width: 100%;
}
.navbar .active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100% !important;
  bottom: -4px;
  left: 0;
  border-radius: 4px;
  background: #dc8605;
  pointer-events: none;
}
.navbar .notyet {
  color: #b6ad9d;
}
.navbar .notyet:hover::after {
  background: #b6ad9d;
}
.navbar .notyet::before {
  content: "";
  width: 100px;
  opacity: 0;
  top: 110%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}
.navbar .notyet:hover::before {
  content: "Not here";
  text-align: center;
  opacity: 1;
}
.navbar .darkbtn-li {
  cursor: pointer;
  width: 24px;
  font-size: 1.5rem;
}
.navbar .darkbtn-li a {
  top: 1px;
  position: absolute;
}

.navbar-nav {
  display: flex;
  transition: all 0.2s ease;
}

.carousel {
  border-top: 8px #dc8605 solid;
  border-bottom: 8px #dc8605 solid;
  border-radius: 10px;
}
.carousel .carousel-caption {
  cursor: default;
}

.totop {
  position: fixed;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #ffe8c5;
  background-color: #dc8605;
  right: 2%;
  bottom: 4%;
  padding-bottom: 5px;
  transition: all 0.2s ease;
  transform: translateX(100px);
  box-shadow: 0 0 5px black;
  z-index: 2;
}
.totop i, .totop span {
  height: 20px;
  pointer-events: none;
}
.totop:hover {
  color: #ffe8c5;
  background: #d02121;
}

.contactbar {
  padding: 30px;
  background-color: #dc8605;
}
.contactbar .link {
  display: flex;
  align-items: center;
}
.contactbar .link img {
  width: 40px;
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.contactbar .link img:hover {
  transform: scale(1.1);
}
.contactbar .title {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  color: #ffe8c5;
  font-weight: bold;
  cursor: default;
}
.contactbar .title span {
  width: 100%;
  font-size: 1rem;
  text-align: end;
}
.contactbar .mailbar {
  display: flex;
  height: 60px;
  background: #ffe8c5;
  position: relative;
}
.contactbar .mailbar .mailIcon {
  display: flex;
  align-items: center;
  width: 42px;
  font-size: 2rem;
  color: #dc8605;
}
.contactbar .mailbar .email {
  padding: 8px;
  width: calc(100% - 90px);
  color: #dc8605;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: transparent;
  border: 0;
}
.contactbar .mailbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  width: 60px;
  font-size: 2rem;
  background-color: #d02121;
  border-right: 20px;
  color: #ffe8c5;
  transition: all 0.2s ease;
}
.contactbar .mailbar a:hover {
  transform: scale(1.1);
  color: #ffe8c5;
}
.contactbar .mailbar .submit i {
  pointer-events: none;
}

.footer {
  background: #ffe8c5;
}
.footer .companybar {
  justify-content: space-between;
  align-items: center;
  color: #dc8605;
  font-weight: bold;
}
.footer img {
  height: 50px;
}
.footer .company-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer p {
  text-align: end;
  margin-bottom: 0;
  cursor: default;
}

@media (max-width: 768px) {
  .navbar .active::after {
    bottom: 0px;
  }
  .navbar-nav {
    margin-top: 0;
    height: 0;
    overflow: hidden;
  }
  .nav-toggle {
    display: flex;
    height: 30px;
    margin-top: 12px;
  }
  .carousel-indicators {
    margin-bottom: 0;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
  .mailbar {
    margin-top: 16px;
  }
  .companybar img {
    margin-top: 30px;
  }
  .companybar p {
    text-align: start;
  }
}
@media (max-width: 576px) {
  .contactbar .title {
    justify-content: center;
  }
  .contactbar .title span {
    width: auto;
  }
  .navbar .m-logo img {
    height: 35px;
  }
}
.dark-mode {
  background: #0c0702 !important;
}

.welcome {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.welcome .row {
  height: 100%;
}
.welcome .welcomebar {
  background-color: #fffbed;
  border-radius: 30px;
  padding: 16px 0;
  text-align: center;
}
.welcome .welcomebar h2 {
  font-weight: bold;
  color: #dc8605;
  font-size: 2.25rem;
  margin-bottom: 16px;
}
.welcome .welcomebar p {
  font-weight: bold;
  color: #d02121;
  font-size: 1.25rem;
}
.welcome .welcomebar li {
  font-size: 1.25rem;
  margin-bottom: 8px;
  text-decoration: underline;
}

.no-welcome {
  display: none;
}

.category-list {
  display: flex;
  flex-direction: column;
  border-bottom: 2px #dc8605 solid;
  position: relative;
}
.category-list li {
  height: 60px;
  border: 2px #dc8605 solid;
  border-bottom: 1px;
}
.category-list li span {
  margin-left: 4px;
  pointer-events: none;
}
.category-list a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.1s ease;
}
.category-list a:hover {
  background-color: #ffe8c5;
  font-size: calc(1.5rem + 2px);
}
.category-list .list-title {
  border-top-right-radius: 30px;
}
.category-list .title {
  background-color: #dc8605;
  border-top-right-radius: 24px;
  color: #ffe8c5;
  pointer-events: none;
}
.category-list::after {
  content: "";
  cursor: pointer;
  width: 80%;
  height: 55%;
  position: absolute;
  top: 100%;
  left: 15%;
  transform-origin: top;
  background: url(../pic/icon/cat-category.png);
  background-repeat: no-repeat;
  animation-name: catmotion;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.category-list::before {
  content: "";
  height: 100%;
  width: 75%;
  position: absolute;
  top: 75%;
  left: -45px;
  transform-origin: center;
  transform: scale(0.4);
  background: url(../pic/icon/tap.png);
  background-repeat: no-repeat;
  animation-name: tapmotion;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.category-list .hide-item {
  height: 0px;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.2s ease;
}
.category-list #open-item {
  height: 60px;
}

@keyframes catmotion {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 1.5);
  }
  25% {
    transform: matrix(1, 0, 0.1, 1.1, 5, 1.5);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0.9, 1.5);
  }
  75% {
    transform: matrix(1, 0, -0.1, 1.1, -5, 1.5);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 1.5);
  }
}
@keyframes tapmotion {
  0% {
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    transform: matrix(0.4, 0, 0, 0.4, 0, 0);
  }
  25% {
    transform: matrix(0.4, -0.1, 0.1, 0.4, 0, 0);
  }
  30% {
    transform: matrix(0.4, 0, 0, 0.4, 0, 0);
    opacity: 1;
  }
  45% {
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    opacity: 0;
  }
  100% {
    transform: matrix(0.3, 0, 0, 0.3, 0, 0);
    opacity: 0;
  }
}
.product .category-info {
  justify-content: space-between;
}
.product .category-name-block {
  width: 245px;
  justify-content: space-between;
  align-items: end;
  background: #dc8605;
  color: white;
  padding: 8px 36px 8px 12px;
  border-top-right-radius: 24px;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: default;
}
.product .category-name-block .category-name {
  font-weight: bold;
  margin-bottom: 0;
}
.product .category-name-block .category-num {
  display: inline;
  font-size: 1rem;
}
.product .select-title {
  color: #dc8605;
  font-weight: bold;
  position: relative;
  cursor: default;
}
.product .select-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background: transparent;
  position: absolute;
  top: 24px;
  right: 6px;
  border: 6px #dc8605 solid;
  border-color: transparent #dc8605 #dc8605 transparent;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.1s ease;
  pointer-events: none;
}
.product .select-title:hover::after {
  top: 26px;
  right: 4px;
}
.product #product-for-page-select {
  padding: 0 20px 0 20px;
  border: 3px #dc8605 solid;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #dc8605;
  background: #fffbed;
  transition: all 0.2s ease;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.product #product-for-page-select::-ms-expand {
  display: none;
}
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-item {
  width: 30%;
  margin: 0 0 16px 8px;
  position: relative;
}
.product .onsale {
  position: absolute;
  top: 5%;
  left: -4px;
  padding: 8px 16px;
  color: #ffe8c5;
  font-weight: bold;
  background: #d02121;
  border-radius: 0 20px 20px 0;
  border: 3px #ffe8c5 solid;
  border-left: 0;
  pointer-events: none;
}
.product .faver {
  position: absolute;
  top: 38px;
  right: 38px;
  transform: translate(50%, -50%);
  transition: all 0.2s ease;
  cursor: pointer;
}
.product .faver:hover {
  top: 35px;
}
.product #faver-select {
  background-image: url("../pic/icon/isfaver_big.png");
  background-repeat: no-repeat;
}
.product-pic {
  width: 100%;
  border: 3px #dc8605 solid;
  border-top-right-radius: 24px;
}
.product .name, .product .price, .product .cartbtn, .product .no-cartbtn {
  padding: 16px 0;
  color: #dc8605;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border: 2px #dc8605 solid;
  border-top: none;
}
.product .price {
  cursor: default;
}
.product-info {
  display: flex;
  flex-wrap: wrap;
}
.product-info .name {
  width: 55%;
  border-right: 0;
}
.product-info .price {
  width: 45%;
}
.product-info .no-product {
  cursor: default;
}
.product .cartbtn {
  width: 100%;
  color: #ffe8c5;
  background: #dc8605;
  transition: all 0.2s ease;
}
.product .cartbtn:hover {
  transform: scale(1.05);
}
.product .cartbtn span {
  font-size: 18px;
  margin-left: 12px;
  transform: rotate(-24deg);
  pointer-events: none;
}
.product .no-cartbtn {
  border: 2px #b6ad9d solid;
  color: white;
  background: #b6ad9d;
  cursor: default;
}
.product #cart-select {
  border-color: #d02121;
  background: #d02121;
}
.product #cart-select:hover {
  border-color: #d02121;
}
.product .pagebtns {
  display: flex;
  justify-content: end;
  border-right: 2px #ffe8c5 solid;
}
.product .pagebtns li {
  width: 60px;
  height: 60px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px #ffe8c5 solid;
  border-right: none;
}
.product .pagebtns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.product .pagebtns a:hover {
  color: #ffe8c5;
  background: #dc8605;
}
.product .pagebtns .active {
  color: #ffe8c5;
  background: #dc8605;
  pointer-events: none;
}
.product .pagebtns i {
  pointer-events: none;
}

@media (max-width: 1200px) {
  .category-list::after {
    transform: scale(0.7);
    animation-name: catmotion-s;
  }
}
@keyframes catmotion-s {
  0% {
    transform: matrix(0.7, 0, 0, 0.7, 0, 1.5);
  }
  25% {
    transform: matrix(0.7, 0, 0.1, 0.7, 5, 1.5);
  }
  50% {
    transform: matrix(0.7, 0, 0, 0.7, 0.9, 1.5);
  }
  75% {
    transform: matrix(0.7, 0, -0.1, 0.7, -5, 1.5);
  }
  100% {
    transform: matrix(0.7, 0, 0, 0.7, 0, 1.5);
  }
}
@media (max-width: 992px) {
  .category-list {
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 3px #dc8605 solid;
  }
  .category-list li {
    width: 50%;
    height: 50px;
    border-left: 1px;
  }
  .category-list .list-title {
    width: 100%;
    height: 40px;
  }
  .category-list::after {
    display: none;
  }
  .category-list::before {
    display: none;
  }
  .category-list .hide-item {
    height: 50px;
  }
  .product .category-name-block {
    margin-left: 0;
  }
  .product-item {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .product-item {
    width: 49%;
  }
}
@media (max-width: 576px) {
  .category-list a {
    font-size: 1.25rem;
  }
  .category-list a:hover {
    font-size: 1.5rem;
  }
  .product .category-name-block {
    padding-right: 12px;
    width: 200px;
  }
  .product .category-num {
    padding-left: 16px;
  }
  .product .onsale {
    left: 0;
  }
}
@media (max-width: 425px) {
  .category-list li, .category-list .hide-item {
    height: 40px;
  }
  .category-list a {
    font-size: 1rem;
  }
  .category-list a:hover {
    font-size: 1.25rem;
  }
  .category-list .list-title {
    height: 30px;
  }
  .product .select-title span {
    display: none;
  }
  .product .onsale {
    top: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 2px 0;
  }
  .product .faver {
    top: 50px;
    right: 30px;
  }
  .product .faver:hover {
    top: 45px;
  }
  .product .faver-nosale {
    top: 30px;
  }
  .product .faver-nosale:hover {
    top: 25px;
  }
  .product .name, .product .price {
    padding: 8px 0;
    font-size: 1rem;
  }
}
.pro-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.pro-info {
  display: flex;
  flex-wrap: wrap;
  color: #dc8605;
}
.pro-info .title {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 28px;
}
.pro-info .pro-num {
  display: flex;
  align-items: end;
  padding-left: 4px;
  color: #734808;
}
.pro-info .pro-num div {
  margin-right: 16px;
}
.pro-info .pro-price {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}
.pro-info .pro-price .price-org {
  font-size: 1.5rem;
  margin-right: 16px;
  color: #dc8605;
}
.pro-info .pro-price .is-sale {
  font-size: 1.25rem;
  color: #b6ad9d;
  text-decoration: line-through;
}
.pro-info .pro-price .price-sale {
  font-size: 1.5rem;
  margin-right: 16px;
}
.pro-info .pro-price .price-salenum {
  font-size: 1rem;
  background-color: #d02121;
  color: #fffbed;
  margin-left: 24px;
  padding: 0 8px;
  position: relative;
}
.pro-info .pro-price .price-salenum::after {
  content: "";
  border: 12px #d02121 solid;
  border-left-color: transparent;
  position: absolute;
  left: -12px;
  z-index: -2;
}
.pro-info .pro-price .price-salenum::before {
  content: "";
  border: 12px transparent solid;
  border-left-color: #d02121;
  position: absolute;
  right: -24px;
  z-index: -2;
}
.pro-info .cart-way {
  width: 100%;
  margin-top: 30px;
}
.pro-info .cart-way .message {
  margin-bottom: 16px;
}
.pro-info .cart-way select {
  width: 80px;
  background-color: #fffbed;
  color: #dc8605;
  border: 2px #dc8605 solid;
  transition: all 0.2s ease;
  cursor: pointer;
}
.pro-info .cart-way #cart-to-district {
  width: 95px;
}

.cart-countbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #dc8605;
}
.cart-countbar .stock {
  width: 100%;
  margin-top: 8px;
}

.cart-count-item {
  display: flex;
  border-right: 2px #dc8605 solid;
  width: 146px;
  margin-bottom: 0;
}
.cart-count-item li {
  height: 48px;
  width: 48px;
  border: 2px #dc8605 solid;
  border-right: 0;
}
.cart-count-item li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-count-item li a:hover {
  background-color: #ffe8c5;
}
.cart-count-item .pro-quantity {
  cursor: default;
}
.cart-count-item .pro-quantity:hover {
  background-color: transparent;
  color: #dc8605;
}

.pro-btns .pro-cart-btn, .pro-btns .pro-faver-btn {
  font-size: 1.5rem;
  font-weight: bold;
  width: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background-color: #dc8605;
  color: #fffbed;
  transition: all 0.2s ease;
  cursor: pointer;
}
.pro-btns .pro-cart-btn:hover, .pro-btns .pro-faver-btn:hover {
  transform: scale(1.05);
}
.pro-btns .cart-select {
  background-color: #d02121;
}
.pro-btns .pro-faver-btn {
  width: 68px;
  background-color: rgb(255, 178, 178);
  margin-left: 16px;
}
.pro-btns .pro-faver-btn i {
  pointer-events: none;
}
.pro-btns .faver-select {
  background-color: rgb(255, 98, 98);
}

.adbar {
  background-color: #ffe8c5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.adbar::after {
  content: "Ad";
  background-color: #dc8605;
  color: #fffbed;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  font-size: 1.25rem;
  pointer-events: none;
}

.format-block, .pro-content-block {
  color: #734808;
}
.format-block .title, .pro-content-block .title {
  font-size: 1.5rem;
  background-color: #dc8605;
  color: #fffbed;
  font-weight: bold;
  padding: 8px 16px;
  border-top-right-radius: 30px;
  margin-bottom: 16px;
  transition: all 0.2s ease;
}
.format-block .dark-title, .pro-content-block .dark-title {
  background-color: #734808;
}

.pro-content-block .pro-content {
  text-indent: 32px;
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  .pro-info .title {
    width: auto;
  }
  .pro-info .pro-num {
    padding-bottom: 4px;
  }
}
@media (max-width: 992px) {
  .pro-info .pro-price {
    padding-top: 8px;
  }
  .pro-info .cart-way {
    margin-top: 8px;
  }
  .cart-countbar {
    margin: 16px 0;
  }
  .cart-countbar .stock {
    width: auto;
    margin-left: 16px;
  }
  .adbar {
    height: auto;
    margin: 16px 0 0 0;
  }
  .adbar::after {
    top: 100%;
    transform: translateY(-100%);
  }
}
@media (max-width: 767px) {
  .pro-info-block {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pro-pic {
    height: 300px;
    overflow: hidden;
    box-shadow: 0, 0, 10px #dc8605;
  }
  .pro-pic img {
    margin-top: -50px;
  }
  .pro-info .pro-num {
    margin-bottom: 0;
  }
  .pro-btns {
    width: 100%;
    justify-content: end;
  }
}
@media (max-width: 576px) {
  .pro-pic {
    height: 250px;
  }
}
/*
@import "member";*/
.cart-area, .bill {
  color: #734808;
  font-size: 1.25rem;
}
.cart-area .title, .bill .title {
  width: 100%;
  color: #ffe8c5;
  background: #dc8605;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 16px 0;
  border-top-right-radius: 24px;
  cursor: default;
}

.cart-area .title {
  margin-bottom: 16px;
}

.cart-list {
  flex-wrap: wrap;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 2px #ffe8c5 solid;
}
.cart-item .cart-pic {
  position: relative;
  height: 110px;
  overflow: hidden;
}
.cart-item .cart-pic img {
  margin-top: -3px;
  width: 110px;
  transition: all 0.5s ease;
}
.cart-item .cart-pic img:hover {
  transform: scale(1.1);
}
.cart-item .cart-pic::after {
  content: "";
  opacity: 0;
  transition: all 0.5s ease;
}
.cart-item .cart-pic:hover::after {
  content: "回商店";
  text-align: center;
  font-size: 1.25rem;
  color: #fffbed;
  font-weight: bold;
  width: 100%;
  height: 30%;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.573) 100%);
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.cart-item .cart-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
.cart-item .cart-content .title {
  width: 160px;
  padding: 8px 0;
  text-align: start;
  color: #dc8605;
  font-size: 1.25rem;
  background: transparent;
  margin-bottom: 0;
}
.cart-item .cart-content .price {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
}
.cart-item .cart-content .price-org {
  margin-right: 16px;
}
.cart-item .cart-content .is-sale {
  text-decoration: line-through;
  color: #b6ad9d;
}
.cart-item .cart-content .price-sale {
  color: #d02121;
}
.cart-item .cart-content .stock {
  width: 100%;
  font-size: 1rem;
  color: #dc8605;
}
.cart-item .cart-countbar {
  display: flex;
  border-right: 2px #ffe8c5 solid;
  margin: 8px 0;
}
.cart-item .cart-countbar li {
  width: 48px;
  height: 48px;
  border: 2px #ffe8c5 solid;
  border-right: none;
}
.cart-item .cart-countbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cart-item .cart-countbar a:hover {
  background: #ffe8c5;
}
.cart-item .cart-countbar .quantity:hover {
  background: none;
  color: #dc8605;
  cursor: default;
}
.cart-item .price-subtotal {
  width: 15%;
  text-align: end;
  font-weight: bold;
  color: #dc8605;
  cursor: default;
}

.bill-content {
  background: #ffe8c5;
  padding: 16px;
  margin-bottom: 0;
  cursor: default;
}
.bill-content li {
  display: flex;
  justify-content: space-between;
}
.bill-content em {
  display: flex;
  align-items: center;
  color: #d02121;
  font-size: 1rem;
}
.bill-content .bill-sale span {
  color: #d02121;
}
.bill-content .bill-total {
  padding-top: 16px;
}

.checkout-btn {
  width: 100%;
  padding: 16px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fffbed;
  background: #d02121;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.checkout-btn:hover {
  color: #fffbed;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .cart-item {
    flex-wrap: wrap;
  }
  .cart-item .cart-pic {
    height: 180px;
    margin-right: 16px;
  }
  .cart-item .cart-pic img {
    width: 240px;
    margin-top: -36px;
  }
  .cart-item .cart-content {
    width: calc(100% - 256px);
    height: 180px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
  }
  .cart-item .cart-content .cart-info {
    width: 100%;
  }
  .cart-item .cart-countbar {
    margin: 0;
  }
  .cart-item hr {
    width: 100%;
    margin: 8px 0 8px 0;
    border: 1px #ffe8c5 solid;
  }
  .cart-item .price-subtotal {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .cart-item .cart-pic {
    height: 180px;
    margin-right: 16px;
  }
  .cart-item .cart-pic img {
    width: 180px;
    margin-top: -4px;
  }
  .cart-item .cart-content {
    width: calc(100% - 196px);
  }
  .cart-item .cart-content .title {
    padding: 0;
  }
  .cart-item .price {
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .cart-item .cart-pic {
    margin-right: 8px;
  }
  .cart-item .cart-content {
    width: calc(100% - 188px);
  }
  .cart-item .cart-content .price-org {
    margin-right: 8px;
  }
  .cart-item .cart-countbar li {
    width: 40px;
    height: 40px;
  }
}
/*
@import "checkout";
*//*# sourceMappingURL=all.css.map */